<!-- Java Scrit Frameworks
    Georgian College
    Geidy Ducuara - 200419082
    Diego Estrada - 200427046
    Application: Product Manager
    Database: MongoDb
    -->
<div class="container">
    <h2 class="font-weight-bold" align="center">About Us</h2>
    <h1 style="color:darkorchid" align="center">Products Manager Ge&Di</h1>


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2016/03/02/20/13/shopping-1232944_960_720.jpg" alt="First slide">
                <div class="content">
                    <h1>{{title}}</h1>
                    <p>{{message2}}</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2017/07/31/04/11/tomato-2556426_960_720.jpg" alt="Second slide">
                <div class="content">
                    <h1>{{title}}</h1>
                    <p>{{message2}}</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2017/04/23/09/44/smoothies-2253423_960_720.jpg" alt="Third slide">
                <div class="content">
                    <h1>{{title}}</h1>
                    <p>{{message2}}</p>
                </div>
            </div>
        </div>
    </div>

    <p>Java Script Frameworks Geidy Ducuara - Diego Estrada</p>

    <p style="color:darkorchid" align="center">{{message3}}</p>
</div>
