<!-- Java Scrit Frameworks
    Georgian College
    Geidy Ducuara - 200419082
    Diego Estrada - 200427046
    Application: Product Manager
    Database: MongoDb
    -->
<h2 class="font-weight-bold" align="center">Products</h2>
<!--<h2>{{message1}}</h2>-->
<a href="/products/add" style="color:black;">Add a new product</a>
<p></p>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Imported</th>
            <th>Actions</th>
        </tr>

        {{#each products}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.price}}</td>
            <td>{{this.imported}}</td>
            <td>
                <a style="color:black;" href="/products/edit/{{this._id}}">Edit | </a>
                <a style="color:black;" href="/products/delete/{{this._id}}" class="test-danger delete"> Delete</a>
            </td>
        </tr>
        {{/each}}
    </table>
</div>